/*
 * Globals
 */

:root {
  --black: #333;
  --navy: #001F54;
  --royal: #034078;
  --teal: #1282A2;
  --white: #FEFCFB;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--black);
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
html {
  /* height:100vh; */
}
html,
body {
  /* height: 100vh; */
  background-color: var(--black);
}

body {
  /* display: -ms-flexbox; */
  display: block;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  height: 100%;
  /* scroll-behavior: smooth; */
  /* overflow: auto; */
}

.cover-container {
  max-width: 60em;
  min-height: 100vh;
  /* height:100%; */
}

hr {
  border-top: 2px solid rgba(0,0,0,.2) !important;
}

/*
 * Header
 */
.masthead {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2rem;
  padding-bottom: 10px;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(90deg, rgba(0,31,84,1) 0%, rgba(18,130,162,1) 100%);
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .2rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: var(--white);
  border-bottom-color: var(--white);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.name {
  font-family: Satoshi-Bold, sans-serif !important;
}

.big_name {
  font-size: 4rem;
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.skills {
  padding-top: 1px;
  padding-bottom: 1px;
  transition: transform .1s;
}

.skills:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#contact_btn {
  background-image: linear-gradient(90deg, rgba(0,31,84,1) 0%, rgba(18,130,162,1) 100%);;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50px;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.mastfoot p {
  margin-top: 3em;
}

.code-box {
  /* color: white; */
  border-radius: 1rem !important;
  padding: 1rem;
  border: 2px solid var(--white);
}

.results-table {
  border: 2px solid var(--white);
  border-radius: 1rem !important;
  margin: 1rem;
}

.results-table thead {
  border-bottom: 1px solid var(--white);
  padding: 5px;
}

.results-table td {
  padding: 8px;
  border: 1px solid gray;
}