<div class="card m-1 p-3 col-sm">
  <img class="card-img-top card-img-bottom" src="../img/dt.png" alt="Decision Tree" />
  <div class="card-body">
    <h4 class="card-title">Decision Tree</h4>
    <h6 class="card-subtitle mb-2 text-muted">Custom Decision Tree Implementation in Python</h6>
    <p class="card-text">To demonstrate my understanding of decision trees, I implemented one from scratch in Python.</p>
    <div class="mb-2">
      <a target="_blank" href="https://sammcdo.github.io/Machine-Learning-Trees/DecisionTreesTests.html" class="btn btn-primary">View Example</a>
    </div>
    <div>
      <a target="_blank" href="https://github.com/sammcdo/Machine-Learning-Trees" class="btn btn-primary">View on Github</a>
    </div>
  </div>
</div>