<div class="card m-1 p-3 col-sm">
  <img class="card-img-top card-img-bottom" src="../img/robot2022.jpeg" alt="FRC NOMAD 2022" />
  <div class="card-body">
    <h4 class="card-title">FRC NOMAD 2022</h4>
    <h6 class="card-subtitle mb-2 text-muted">Robot Code</h6>
    <p class="card-text">This robot picked up mini dodgeballs and shot them into a target using computer vision.</p>
    <a target="_blank" href="https://github.com/frc6995/Robot-2022" class="btn btn-primary">View on Github</a>
  </div>
</div>