<div class="card m-1 p-3 col-sm">
  <img class="card-img-top card-img-bottom" src="../img/vectorautoreg.png" alt="IPO Predictor" />
  <div class="card-body">
    <h4 class="card-title">IPO Predictor</h4>
    <h6 class="card-subtitle mb-2 text-muted">Vector Autoregressive IPO Price Prediction</h6>
    <p class="card-text">This is a formal writeup of my work predicting stock prices of related IPOs with Vector Autoregression.</p>
    <div class="mb-2">
      <a target="_blank" href="https://sammcdo.github.io/IPO-Predictor/index.html" class="btn btn-primary">View Writeup</a>
    </div>
    <div>
      <a target="_blank" href="https://github.com/sammcdo/IPO-Predictor" class="btn btn-primary">View on Github</a>
    </div>
  </div>
</div>