<div class="card m-1 p-3 col-sm">
  <img class="card-img-top card-img-bottom" src="../img/austen.jpg" alt="Jane Austen Image" />
  <div class="card-body">
    <h4 class="card-title">Jane Austen AI</h4>
    <h6 class="card-subtitle mb-2 text-muted">Neural Network Project</h6>
    <p class="card-text">Check out this machine learning project that uses LSTMs to generate novels that sound like Jane Austen.</p>
    <a target="_blank" href="https://github.com/sammcdo/TextGeneratorAI" class="btn btn-primary">View on Github</a>
  </div>
</div>