<div class="card m-1 p-3 col-sm">
  <img class="card-img-top" src="../img/jha.png" alt="JHA Safety Website" />
  <div class="card-body">
    <h4 class="card-title">JHA Safety Website</h4>
    <h6 class="card-subtitle mb-2 text-muted">A Skill Demo implemented as a safety reporting website</h6>
    <p class="card-text">This website demonstrates a fully functional front end in HTML and JS, back end in Python and a Database connection.</p>
    <a target="_blank" href="https://github.com/sammcdo/jha-website" class="btn btn-primary">View on Github</a>
  </div>
</div>