<div class="card m-1 p-3 col-sm">
  <img class="card-img-top" src="../img/kattis.png" alt="Kattis Problems" />
  <div class="card-body">
    <h4 class="card-title">Kattis Problems</h4>
    <h6 class="card-subtitle mb-2 text-muted">My Solutions for Competitive Programming</h6>
    <p class="card-text">These solutions are written in Python and C++. They show how to solve competitive programming problems in all difficulties.</p>
    <a target="_blank" href="https://github.com/sammcdo/Kattis-Problems" class="btn btn-primary">View on Github</a>
  </div>
</div>