<div class="card m-1 p-3 col-sm">
  <img class="card-img-top card-img-bottom" src="https://github.com/sammcdo/ImageClassificationLive/blob/main/demo.png?raw=true" alt="Live Image Detection" />
  <div class="card-body">
    <h4 class="card-title">Live Image Detection</h4>
    <h6 class="card-subtitle mb-2 text-muted">Image Classification Done in a Web Browser</h6>
    <p class="card-text">A simple image classifier that can run live in a browser using prebuilt models.</p>
    <div class="mb-2">
      <a target="_blank" href="https://sammcdo.github.io/ImageClassificationLive/" class="btn btn-primary">View Live Demo</a>
    </div>
    <div>
      <a target="_blank" href="https://github.com/sammcdo/ImageClassificationLive" class="btn btn-primary">View on Github</a>
    </div>
  </div>
</div>