<div class="card m-1 p-3 col-sm">
  <img
    class="card-img-top"
    src="https://github.com/sammcdo/ML-Authorship-Attribution/blob/main/output/pca.png?raw=true"
    alt="Stylo Demo"
  />
  <div class="card-body">
    <h4 class="card-title">ML for Authorship Attribution</h4>
    <h6 class="card-subtitle mb-2 text-muted">Machine Learning Authorship Attribution</h6>
    <p class="card-text">A formal writeup of my work exploring authorship attribution classification models.</p>
    <div class="mb-3">
      <a href="https://github.com/sammcdo/ML-Authorship-Attribution/" target="_blank" class="btn btn-primary">View Github</a>
    </div>
    <div>
      <a href="https://sammcdo.github.io/ML-Authorship-Attribution/" target="_blank" class="btn btn-primary">View Writeup</a>
    </div>
  </div>
</div>