<div class="card m-1 p-3 col-sm">
  <img class="card-img-top" src="../img/stylo.png" alt="Stylo Demo" />
  <div class="card-body">
    <h4 class="card-title">Stylo-Compare</h4>
    <h6 class="card-subtitle mb-2 text-muted">Stylometric Text Comparison Tool</h6>
    <p class="card-text">A formal writeup of my work creating a Stylometric analysis text comparison tool.</p>
    <div class="mb-3">
      <a href="https://sammcdo.github.io/Stylo-Compare/" target="_blank" class="btn btn-primary">View Writeup</a>
    </div>
    <div>
      <a href="https://kingmcd.shinyapps.io/stylocompare/" target="_blank" class="btn btn-primary">View Live Tool</a>
    </div>
  </div>
</div>