<div class="card m-1 p-3 col-sm">
  <img class="card-img-top" src="https://github.com/sammcdo/WebEditor/blob/master/demo.png?raw=true" alt="Web Editor" />
  <div class="card-body">
    <h4 class="card-title">Web Editor</h4>
    <h6 class="card-subtitle mb-2 text-muted">Simple HTML Code Editor</h6>
    <p class="card-text">This IDE written in Python lets you write HTML with handy shortcuts built in.</p>
    <a target="_blank" href="https://github.com/sammcdo/WebEditor" class="btn btn-primary">View on Github</a>
  </div>
</div>